@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.11.3.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion_async.js">
    </script>
</head>
<body>
    <style>
        .fileinput-button {
            position: relative;
            overflow: hidden;
            display: inline-block;
        }

        .fileinput-button input {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            font-size: 200px;
            direction: ltr;
            cursor: pointer;
        }

        .error{
            color: red
        }

        .form-group.required .control-label:after {
            color: #d00;
            content: "*";
            position: absolute;
            margin-left: 8px;
            top: 7px;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" id="formContainer" role="form">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" placeholder="First & Last Name" value="" autofocus>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-2 control-label">Phone</label>
                        <div class="col-sm-10">
                            <input type="tel" class="form-control" id="phone" name="phone" placeholder="0123456789" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-sm-2 control-label">Message</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="6" name="message" id="message" placeholder="Please enter your message"></textarea>
                        </div>
                    </div>
                    <div id="fileUploadDiv" class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <span class="btn btn-success fileinput-button">
                                <i class="fa fa-plus"></i>
                                <span>Select files...</span>
                                <!-- The file input field used as target for the file upload widget -->
                                <input id="fileupload" type="file" multiple="">
                            </span>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10" id="files"></div>
                    </div>
                    <div class="form-group" style="margin-right:0;">
                        <div class="pull-right">
                            <input id="send" name="send" type="submit" value="Send" class="btn btn-success">
                        </div>
                    </div>
                    <div id="trap">
                        <label for="botTrap">Leave blank</label>
                        <input type="text" id="botTrap" name="botTrap" value="">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var uploadedFiles = [];
            var uploadedFileNames = [];
            var clientSettings;

            $('#fileUploadDiv').hide();
            $('#trap').hide();

            var spinner = initSpin();
            getClientSettings();

            $('#formContainer').validate({
                submitHandler: function (form) {
                    if ($('#botTrap').val() != '') {
                        toastr.error('Are you a bot?');
                        return;
                    }

                    var data = new FormData();

                    if (uploadedFiles.length > 0) {
                        for (i = 0; i < uploadedFiles.length; i++) {
                            data.append("file" + i, uploadedFiles[i]);
                        }
                    }

                    data.append("name", $('#name').val());
                    data.append("email", $('#email').val());
                    data.append("phone", $('#phone').val());
                    data.append("message", $('#message').val());
                    data.append("clientName", 'Shreyas');

                    spinner.spin($('#formContainer')[0]);

                    $.ajax({
                        type: "POST",
                        url: 'http://elementalstudios.co.uk/api/SendEmailApi/SendEmail',
                        data: data,
                        enctype: 'multipart/form-data',
                        processData: false,  // tell jQuery not to process the data
                        contentType: false,   // tell jQuery not to set contentType
                        success: function (response) {
                            if (clientSettings.GoogleAdwordsEnabled) {
                                reportGoogleAdwordsConversion();
                            }
                        },
                        error: function () {
                            toastr.error('Oops. Seems like there was an error contacting us. Please retry.');
                        },
                        complete: function () {
                            spinner.stop();
                        }
                    });
                }
            });

            $('#fileupload').change(function () {
                var files = $(this)[0].files;
                if (files) {
                    $.each(files, function (index, file) {
                        uploadedFiles.push(file);
                        uploadedFileNames.push(file.name);
                        $('<div class="col-md-2 col-sm-3 alert alert-info" style="margin-right:10px;"></div>')
                            .html(file.name + '<a style="text-decoration: none;" href="#" id="removeFile" data-filename=' + file.name + '>&nbsp; &nbsp;<i style="color:#333;" class="fa fa-times"></i></a>')
                            .appendTo('#files');
                    });
                }
            });

            $('body').on('click', '#removeFile', function () {
                if (uploadedFileNames) {
                    var filename = $(this).attr('data-filename');
                    var index = uploadedFileNames.indexOf(filename);
                    if (index > -1) {
                        uploadedFiles.splice(index, 1);
                        uploadedFileNames.splice(index, 1);
                        $(this).parent().remove();
                    }
                }
            });

            function getClientSettings() {
                spinner.spin($('#formContainer')[0]);
                $.get('http://elementalstudios.co.uk/api/SendEmailApi/GetClientSettings?clientName=Shreyas')
                    .done(function (response) {
                        clientSettings = response;
                        $('#fileUploadDiv').toggle(clientSettings ? clientSettings.EnableFileUpload : false);
                        if (clientSettings.GoogleAdwordsEnabled) {
                            setupGoogleAdwordsConversion();
                        }
                        
                        spinner.stop();
                    }).fail(function () {
                        clientSettings = null;
                    });
            }

            function setupGoogleAdwordsConversion() {
                var w = window;
                w.google_conversion_id = clientSettings.GoogleConversionId;
                w.google_conversion_label = clientSettings.GoogleConversionLabel;
                w.google_conversion_language = clientSettings.GoogleConversionLanguage;
                w.google_conversion_color = clientSettings.GoogleConversionColour;
                w.google_conversion_value = clientSettings.GoogleConversionValue;
                w.google_conversion_currency = clientSettings.GoogleConversionCurrency;
                w.google_remarketing_only = clientSettings.GoogleRemarketingOnly;
            }

            function reportGoogleAdwordsConversion() {
                window.google_conversion_format = "3";
                var opt = new Object();

                opt.onload_callback = function () {
                    $('#formContainer').trigger("reset");
                    uploadedFiles = [];
                    uploadedFileNames = [];
                    $('#files').empty();
                    toastr.success('Thank you for contacting us.');
                }

                var conv_handler = window['google_trackConversion'];
                if (typeof (conv_handler) == 'function') {
                    conv_handler(opt);
                }
            }

            function initSpin() {
                var opts = {
                      lines: 13 // The number of lines to draw
                    , length: 28 // The length of each line
                    , width: 14 // The line thickness
                    , radius: 42 // The radius of the inner circle
                    , scale: 0.3 // Scales overall size of the spinner
                    , corners: 1 // Corner roundness (0..1)
                    , color: '#000' // #rgb or #rrggbb or array of colors
                    , opacity: 0.3 // Opacity of the lines
                    , rotate: 0 // The rotation offset
                    , direction: 1 // 1: clockwise, -1: counterclockwise
                    , speed: 1 // Rounds per second
                    , trail: 60 // Afterglow percentage
                    , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
                    , zIndex: 2e9 // The z-index (defaults to 2000000000)
                    , className: 'spinner' // The CSS class to assign to the spinner
                    , top: '50%' // Top position relative to parent
                    , left: '50%' // Left position relative to parent
                    , shadow: false // Whether to render a shadow
                    , hwaccel: false // Whether to use hardware acceleration
                    , position: 'absolute' // Element positioning
                }

                return new Spinner(opts);
            }
        });
    </script>
</body>
</html>
