<div id="navbar-main">
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid text-center">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="glyphicon glyphicon-align-justify" style="font-size:30px; color:#3498db;"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#home" class="smoothScroll">Home</a></li>
                    <li> <a href="#about" class="smoothScroll"> About</a></li>
                    <li> <a href="#services" class="smoothScroll"> Services</a></li>
                    <li> <a href="#portfolio" class="smoothScroll"> Portfolio</a></li>
                    <li> <a href="#contact" class="smoothScroll"> Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
<!-- ==== HEADERWRAP ==== -->
<div id="headerwrap" id="home" name="home">
    <header class="clearfix">
        <p>Elemental Studios</p>
        <p>An Interactive Web and Media design company</p>
    </header>
</div><!-- /headerwrap -->
<!-- ==== GREYWRAP ==== -->
<div id="greywrap">
    <div class="row">
        <div class="col-lg-4 callout">
            <span class="icon icon-stack"></span>
            <h2>HTML5 and Bootstrap 3</h2>
            <p>Our websites use all the cutting edge tools including HTML5 and Bootstrap framework. Boostrap is an incredible Mobile First Framework that provides mobile support for your website from ground up! </p>
        </div><!-- col-lg-4 -->

        <div class="col-lg-4 callout">
            <span class="icon icon-eye"></span>
            <h2>Retina Ready</h2>
            <p>You can use our websites on your iPhone, iPad or MacBook Pro. They are retina ready and that is awesome. </p>
        </div><!-- col-lg-4 -->

        <div class="col-lg-4 callout">
            <span class="icon icon-heart"></span>
            <h2>Crafted with Love</h2>
            <p>We don't make sites, we craft themes with love & passion. That is our most valued secret. We only do thing that we love.   </p>
        </div><!-- col-lg-4 -->
    </div><!-- row -->
</div><!-- greywrap -->
<!-- ==== ABOUT ==== -->
<div class="container" id="about" name="about">
    <div class="row white">
        <br>
        <h1 class="centered">A LITTLE ABOUT US</h1>
        <hr>

        <div class="col-lg-6">
            <p>We believe ideas come from everyone, everywhere. In fact, at Elemental, everyone is a designer in their own right. And there are a few principles we believe—and we believe everyone should believe—about our design craft. These truths drive us, motivate us, and ultimately help us redefine the power of design.</p>
        </div><!-- col-lg-6 -->

        <div class="col-lg-6">
            <p>We believe in providing the best solution for our clients. What this means is that rather than pushing you down a predetermined path I work to understand your business and requirements first. Once this understanding is gained we will suggest the best course of action for you, to achieve your defined goals – through this approach you gain a truly bespoke solution to your problem and ultimately a much more successful outcome in the long term.</p>
        </div><!-- col-lg-6 -->
    </div><!-- row -->
</div><!-- container -->
<!-- ==== section divider2 -->
<section class="section-divider textdivider divider2">
    <div class="container">
        <h1>design is an interaction</h1>
        <hr>
        <p>to develop a deeper and more meaningful connection with consumers, we believe design must invite them to take part in the conversation.</p>
    </div><!-- container -->
</section><!-- section -->
<!-- ==== SERVICES ==== -->
<div class="container" id="services" name="services">
    <br>
    <br>
    <div class="row">
        <h2 class="centered">ONE BRAND, ONE VOICE.</h2>
        <hr>
        <br>
        <div class="col-lg-offset-2 col-lg-8">
            <p>
                Employees and consumers. Two halves of a brand’s entirety, the whole of a brand’s audience. Sometimes these two halves have very different viewpoints, creating a weak spot in the brand story. Weakness tarnishes credibility. Brands that aren’t credible aren’t viable.
            </p>
            <p>We squash weakness by designing the whole brand story. It’s crafted around the true necessity of our consumers to create an experience that connects from the inside out.</p>
            <p>By being true to the brand we represent, we elevate the audiences’ relationship to it. Like becomes love becomes a passion. Passion becomes advocacy. And we see the brand blossom from within, creating a whole story the audience embraces. That’s when the brand can truly flex its muscles.</p>
        </div><!-- col-lg -->
    </div><!-- row -->

    <div class="row">
        <h2 class="centered">MOBILE FIRST THINKING, ALWAYS.</h2>
        <hr>
        <br>
        <div class="col-lg-offset-2 col-lg-8">
            <img class="img-responsive" src="../../Content/Images/iphone.png" alt="">
        </div><!-- col -->
    </div><!-- row -->
</div><!-- container -->
<!-- ==== SECTION DIVIDER3 -->
<section class="section-divider textdivider divider3">
    <div class="container">
        <h1>DESIGN SOLVE PROBLEMS</h1>
        <hr>
        <p>From the purely practical to the richly philosophical, design is the solution to a host of challenges.</p>
    </div><!-- container -->
</section><!-- section -->
<!-- ==== PORTFOLIO ==== -->
<div class="container" id="portfolio" name="portfolio">
    <br>
    <div class="row">
        <br>
        <h1 class="centered">WE CREATE COOL STUFF</h1>
        <hr>
        <br>
        <br>
    </div><!-- /row -->
    <div class="container">
        <div class="row">

            <!-- PORTFOLIO IMAGE 1 -->
            <div class="col-md-4 ">
                <div class="grid mask">
                    <figure>
                        <img class="img-responsive" src="../../Content/Images/portfolio/folio01.jpg" alt="">
                        <figcaption>
                            <h5>DASHBOARD</h5>
                            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
                        </figcaption><!-- /figcaption -->
                    </figure><!-- /figure -->
                </div><!-- /grid-mask -->
            </div><!-- /col -->
            <!-- MODAL SHOW THE PORTFOLIO IMAGE. In this demo, all links point to this modal. You should create
                 a modal for each of your projects. -->

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Project Title</h4>
                        </div>
                        <div class="modal-body">
                            <p><img class="img-responsive" src="../../Content/Images/portfolio/folio01.jpg" alt=""></p>
                            <p>This project was crafted for Some Name corp. Detail here a little about your job requirements and the tools used. Tell about the challenges faced and what you and your team did to solve it.</p>
                            <p><b><a href="#">Visit Site</a></b></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <!-- PORTFOLIO IMAGE 2 -->
            <div class="col-md-4">
                <div class="grid mask">
                    <figure>
                        <img class="img-responsive" src="../../Content/Images/portfolio/folio02.jpg" alt="">
                        <figcaption>
                            <h5>UI DESIGN</h5>
                            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
                        </figcaption><!-- /figcaption -->
                    </figure><!-- /figure -->
                </div><!-- /grid-mask -->
            </div><!-- /col -->
            <!-- PORTFOLIO IMAGE 3 -->
            <div class="col-md-4">
                <div class="grid mask">
                    <figure>
                        <img class="img-responsive" src="../../Content/Images/portfolio/folio03.jpg" alt="">
                        <figcaption>
                            <h5>ANDROID PAGE</h5>
                            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
                        </figcaption><!-- /figcaption -->
                    </figure><!-- /figure -->
                </div><!-- /grid-mask -->
            </div><!-- /col -->
        </div><!-- /row -->
        <!-- PORTFOLIO IMAGE 4 -->
        <div class="row">
            <div class="col-md-4 ">
                <div class="grid mask">
                    <figure>
                        <img class="img-responsive" src="../../Content/Images/portfolio/folio04.jpg" alt="">
                        <figcaption>
                            <h5>PROFILE</h5>
                            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
                        </figcaption><!-- /figcaption -->
                    </figure><!-- /figure -->
                </div><!-- /grid-mask -->
            </div><!-- /col -->
            <!-- PORTFOLIO IMAGE 5 -->
            <div class="col-md-4">
                <div class="grid mask">
                    <figure>
                        <img class="img-responsive" src="../../Content/Images/portfolio/folio05.jpg" alt="">
                        <figcaption>
                            <h5>TWITTER STATUS</h5>
                            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
                        </figcaption><!-- /figcaption -->
                    </figure><!-- /figure -->
                </div><!-- /grid-mask -->
            </div><!-- /col -->
            <!-- PORTFOLIO IMAGE 6 -->
            <div class="col-md-4">
                <div class="grid mask">
                    <figure>
                        <img class="img-responsive" src="../../Content/Images/portfolio/folio06.jpg" alt="">
                        <figcaption>
                            <h5>PHONE MOCKUP</h5>
                            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
                        </figcaption><!-- /figcaption -->
                    </figure><!-- /figure -->
                </div><!-- /grid-mask -->
            </div><!-- /col -->
        </div><!-- /row -->
        <br>
        <br>
    </div><!-- /row -->
</div><!-- /container -->
<!-- ==== SECTION DIVIDER4 ==== -->
<section class="section-divider textdivider divider4">
    <div class="container">
        <h1>DESIGN CREATES EMOTIONAL CONNECTION</h1>
        <hr>
        <p>There’s more to design than meets the eye. It’s when it meets the heart that design creates a meaningful, lasting connection with the audience.</p>
    </div><!-- container -->
</section><!-- section -->
@*<!-- ==== SECTION DIVIDER6 ==== -->
    <section class="section-divider textdivider divider6">
        <div class="container">
            <h1>CRAFTED IN NEW YORK, USA.</h1>
            <hr>
            <p>Some Address 987,</p>
            <p>+34 9884 4893</p>
            <p><a class="icon icon-twitter" href="#"></a> | <a class="icon icon-facebook" href="#"></a></p>
        </div><!-- container -->
    </section><!-- section -->*@

<div class="container" id="contact" name="contact">
    <div class="row">
        <br>
        <h1 class="centered">THANKS FOR VISITING US</h1>
        <hr>
        <br>
        <br>
        <div class="col-lg-12 text-center">
            <h3>Contact Information</h3>
            <p>
                <span class="icon icon-home"></span> 75 CASTERBRIDGE ROAD, SWINDON, SN25 1RD<br />
                <span class="icon icon-mobile"></span>  07920093590<br />
                <span class="icon icon-envelop"></span> <a href="#"> mw@martinwrightdesign.com</a> <br />
            </p>
        </div><!-- col -->
        @*<div class="col-lg-6">
                <h3><span>Stay In Touch</span></h3>
                <div>
                    <ul>
                        <li>
                            <a href="http://twitter.com/martinwdesign" title="Twitter"></a>
                        </li>
                        <li>
                            <a href="http://www.facebook.com/pages/Martin-Wright-Design/166916880028008" title="Facebook"></a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/+Martinwrightdesign/" title="Google Plus"></a>
                        </li>
                        <li>
                            <a href="http://uk.linkedin.com/in/martinwrightdesign" title="LinkedIn"></a>
                        </li>
                    </ul>
                </div>
            </div>*@<!-- col -->
    </div><!-- row -->
</div><!-- container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
